{{ define "start" }}
<h1>🔥 Bienvenue sur Power4 Web 🔥</h1>
<form action="/start" method="POST">
  <label>Joueur 1 :</label>
  <input type="text" name="p1" placeholder="Nom du joueur 1" required /><br>

  <label>Joueur 2 :</label>
  <input type="text" name="p2" placeholder="Nom du joueur 2" required /><br>

  <label>Difficulté :</label>
  <select name="difficulty">
    <option value="easy">Facile</option>
    <option value="normal">Moyen</option>
    <option value="hard">Difficile</option>
  </select><br>

  <button type="submit">Commencer la partie</button>
</form>
{{ end }}