{{ define tab }}
<div class="tab4">
    <table>
        <caption>Cliquer sur une colonne pour jouer </caption>
        <tbody>
            <!-- data-row: ligne(0-5 = 6), data-col: colonne(0-6 = 7) -->
            <tr>
            <td data-row="0" data-col="0"><span class="slot"></span></td>
            <td data-row="0" data-col="1"><span class="slot"></span></td>
            <td data-row="0" data-col="2"><span class="slot"></span></td>
            <td data-row="0" data-col="3"><span class="slot"></span></td>
            <td data-row="0" data-col="4"><span class="slot"></span></td>
            <td data-row="0" data-col="5"><span class="slot"></span></td>
            <td data-row="0" data-col="6"><span class="slot"></span></td>
            </tr>
            <tr>
            <td data-row="1" data-col="0"><span class="slot"></span></td>
            <td data-row="1" data-col="1"><span class="slot"></span></td>
            <td data-row="1" data-col="2"><span class="slot"></span></td>
            <td data-row="1" data-col="3"><span class="slot"></span></td>
            <td data-row="1" data-col="4"><span class="slot"></span></td>
            <td data-row="1" data-col="5"><span class="slot"></span></td>
            <td data-row="1" data-col="6"><span class="slot"></span></td>
            </tr>
            <tr>
            <td data-row="2" data-col="0"><span class="slot"></span></td>
            <td data-row="2" data-col="1"><span class="slot"></span></td>
            <td data-row="2" data-col="2"><span class="slot"></span></td>
            <td data-row="2" data-col="3"><span class="slot"></span></td>
            <td data-row="2" data-col="4"><span class="slot"></span></td>
            <td data-row="2" data-col="5"><span class="slot"></span></td>
            <td data-row="2" data-col="6"><span class="slot"></span></td>
            </tr>
            <tr>
            <td data-row="3" data-col="0"><span class="slot"></span></td>
            <td data-row="3" data-col="1"><span class="slot"></span></td>
            <td data-row="3" data-col="2"><span class="slot"></span></td>
            <td data-row="3" data-col="3"><span class="slot"></span></td>
            <td data-row="3" data-col="4"><span class="slot"></span></td>
            <td data-row="3" data-col="5"><span class="slot"></span></td>
            <td data-row="3" data-col="6"><span class="slot"></span></td>
            </tr>
            <tr>
            <td data-row="4" data-col="0"><span class="slot"></span></td>
            <td data-row="4" data-col="1"><span class="slot"></span></td>
            <td data-row="4" data-col="2"><span class="slot"></span></td>
            <td data-row="4" data-col="3"><span class="slot"></span></td>
            <td data-row="4" data-col="4"><span class="slot"></span></td>
            <td data-row="4" data-col="5"><span class="slot"></span></td>
            <td data-row="4" data-col="6"><span class="slot"></span></td>
            </tr>
            <tr>
            <td data-row="5" data-col="0"><span class="slot"></span></td>
            <td data-row="5" data-col="1"><span class="slot"></span></td>
            <td data-row="5" data-col="2"><span class="slot"></span></td>
            <td data-row="5" data-col="3"><span class="slot"></span></td>
            <td data-row="5" data-col="4"><span class="slot"></span></td>
            <td data-row="5" data-col="5"><span class="slot"></span></td>
            <td data-row="5" data-col="6"><span class="slot"></span></td>
            </tr>
        </tbody>
    </table>
</div>
